<div class="conatainer-fluid">
    <div class="row d-none d-md-flex">
        <div [ngClass]="options.isDark ? 'colorRowMoon':'colorRowSun'" class="our-partners col-12">Our Trusted Partners</div>

        <div class="banks-info col-12">
                <img class="col-2" src="/assets/footer/acba.png">
                <img class="col-2" src="/assets/footer/ineco.png">
                <img class="col-2" src="/assets/footer/ameria.png">
                <img class="col-2" src="/assets/footer/ardshin.png">
                <img class="col-2" src="/assets/footer/evoca.png">
        </div>


        <div class="scroll-up" (click)="scrollTo()">
            <img [src]="'/assets/footer/' + (options.isDark ? 'scroll-up-green.png' : 'scroll-up.png')">
            <nav [ngClass]="options.isDark ? 'colorGreen':'colorRowSun'">Scroll Up</nav>
        </div>

        <div class="row link-and-submit">
            <div class="row link-and-submit-child-one col-8">
                <div class="col-4">
                    <span [ngClass]="options.isDark ? 'colorRowMoon':'colorRowSun'">About Us</span>
                    <nav [ngClass]="options.isDark ? 'colorRowMoon':'colorRowSun'">Pay Way terminals</nav>
                    <nav [ngClass]="options.isDark ? 'colorRowMoon':'colorRowSun'">Services provided</nav>
                    <span [ngClass]="options.isDark ? 'colorRowMoon':'colorRowSun'">Contact Us</span>
                    <nav [ngClass]="options.isDark ? 'colorRowMoon':'colorRowSun'">Tel:</nav>
                    <nav [ngClass]="options.isDark ? 'colorRowMoon':'colorRowSun'">Email:</nav>
                </div>
                <div class="col-4">
                    <span [ngClass]="options.isDark ? 'colorRowMoon':'colorRowSun'">Regulations</span>
                    <nav [ngClass]="options.isDark ? 'colorRowMoon':'colorRowSun'">Financial Mediator</nav>
                    <nav [ngClass]="options.isDark ? 'colorRowMoon':'colorRowSun'">Financial reports</nav>
                    <nav [ngClass]="options.isDark ? 'colorRowMoon':'colorRowSun'">Terms and conditions</nav>
                    <nav [ngClass]="options.isDark ? 'colorRowMoon':'colorRowSun'">Limits and restrictions</nav>
                </div>
                <div class="col-4">
                    <span [ngClass]="options.isDark ? 'colorRowMoon':'colorRowSun'">User rights</span>
                    <nav [ngClass]="options.isDark ? 'colorRowMoon':'colorRowSun'">Frequently Asked Questions</nav>
                    <nav [ngClass]="options.isDark ? 'colorRowMoon':'colorRowSun'">Terms and conditions</nav>
                    <nav [ngClass]="options.isDark ? 'colorRowMoon':'colorRowSun'">Limits and restrictions</nav>
                </div>

                <div class="col-12 d-flex ps-0 align-items-center text-align-center justify-content-around">
                    <div class="col-4" style="padding-left:5px;padding-right:5px">
                        <img class="col-2" src="/assets/footer/facebook.png">
                        <img class="col-2" src="/assets/footer/twitter.png">
                        <img class="col-2" src="/assets/footer/instagram.png">
                        <img class="col-2" src="/assets/footer/telephone.png">
                        <img class="col-2" src="/assets/footer/in.png">
                        <img class="col-2" src="/assets/footer/telegram.png">
                    </div>
                    <div class="col-4 d-flex">
                        <img class="col-5" style="width:50%" class="me-2" src="/assets/footer/google-play.png">
                        <img class="col-5" style="width:46%" src="/assets/footer/app-store.png">
                    </div>
                    <div class="col-3">
                        <img class="col-10" src="/assets/footer/moons.png" style="height:15px">
                    </div>

                </div>
            </div>
            <div class="link-and-submit-child-two col-4">
                <nav>Share your feedback!</nav>
                <div class="star">
                    <img *ngFor="let isFull of  rating; index as i"
                        [src]="isFull ? '/assets/img/star-full.png' : '/assets/img/star-empty.png'"
                        (click)="setRating(i)">
                </div>
                <div style="text-align:center">
                    <textarea placeholder="Describe what do you like the most"></textarea>
                </div>
                <div style="text-align:center">
                    <button [ngClass]="options.isDark ? 'colorBlurDark':'null'">Submit</button>
                </div>
            </div>

        </div>

    </div>
</div>