<div class="container-fluid">
    <div class="home-info row d-none d-md-flex">
        <div class="header-info-div col-5">
            <h1 [ngClass]="options.isDark ? 'colorRowMoon':'colorRowSun'">Internet Acquiring</h1>
            <p [ngClass]="options.isDark ? 'colorRowMoon':'colorRowSun'">Lorem Ipsum is simply dummy text of the
                printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                into electronic typesetting, Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer
                took a galley of type and scrambled it to make a type specimen book. It has survived not only five
                centuries, but also the leap into electronic typesetting.</p>
            <button [ngClass]="options.isDark ? 'backgroundcolorGreen':'null'">Cooperation</button>
        </div>
        <div class="header-info-img col-7">
            <img class="col-7" src="/assets/home/home-logo.png">
        </div>
    </div>


    <div class="row d-none d-md-flex">
        <div [ngClass]="options.isDark ? 'colorRowMoon':'colorRowSun'" class="col-12 advantages">Our Advantages</div>
        <div class="col">
            <img src="/assets/home/advantage-1.png">
            <nav [ngClass]="options.isDark ? 'colorRowMoon':'colorRowSun'">Integration With Your System</nav>
        </div>
        <div class="col">
            <img src="/assets/home/advantage-2.png">
            <nav [ngClass]="options.isDark ? 'colorRowMoon':'colorRowSun'">Shows Partial Payments</nav>
        </div>
        <div class="col">
            <img src="/assets/home/advantage-3.png">
            <nav [ngClass]="options.isDark ? 'colorRowMoon':'colorRowSun'">Simple Interface</nav>
        </div>
        <div class="col">
            <img src="/assets/home/advantage-4.png">
            <nav [ngClass]="options.isDark ? 'colorRowMoon':'colorRowSun'">Payment History</nav>
        </div>
        <div class="col">
            <img src="/assets/home/advantage-5.png">
            <nav [ngClass]="options.isDark ? 'colorRowMoon':'colorRowSun'">The System Works Online</nav>
        </div>
        <div class="col">
            <img src="/assets/home/advantage-6.png">
            <nav [ngClass]="options.isDark ? 'colorRowMoon':'colorRowSun'">Online Generating</nav>
        </div>
        <div class="col">
            <img src="/assets/home/advantage-7.png">
            <nav [ngClass]="options.isDark ? 'colorRowMoon':'colorRowSun'">Archiving all Types of Payments</nav>
        </div>
    </div>

    <div [ngClass]="options.isDark ? 'colorRowMoon && img1':'colorRowSun && img2'" class="payment row d-none d-md-flex">
        

        <div class="payment-child col-6">
            <div [ngClass]="options.isDark ? 'style2':'style1'">
                <h1 [ngClass]="options.isDark ? 'colorRowMoon':'colorRowSun'">Fast Payment System</h1>
                <p [ngClass]="options.isDark ? 'colorRowMoon':'colorRowSun'">Contrary to popular belief, Lorem Ipsum is
                    not simply random text. Contrary to popular belief, Lorem
                    Ipsum is not simply random text.Contrary to popular belief, Lorem Ipsum is not simply random
                    text.Contrary to popular belief, Lorem Ipsum is not simply random text.</p>
                <button [ngClass]="options.isDark ? 'backgroundcolorGreen':'backgroundcolorGreenStrong'">More</button>
            </div>
        </div>

        <div class="payment-child col-6">
            <div [ngClass]="options.isDark ? 'style2':'style1'">
                <h1 [ngClass]="options.isDark ? 'colorRowMoon':'colorRowSun'">QR Payments</h1>
                <p [ngClass]="options.isDark ? 'colorRowMoon':'colorRowSun'">Contrary to popular belief, Lorem Ipsum is
                    not simply random text. Contrary to popular belief, Lorem
                    Ipsum is not simply random text.Contrary to popular belief, Lorem Ipsum is not simply random
                    text.Contrary to popular belief, Lorem Ipsum is not simply random text.</p>
                <button [ngClass]="options.isDark ? 'backgroundcolorGreen':'backgroundcolorGreenStrong'">More</button>
            </div>
        </div>

        <div class="payment-child col-6">
            <div [ngClass]="options.isDark ? 'style2':'style1'">
                <h1 [ngClass]="options.isDark ? 'colorRowMoon':'colorRowSun'">Fast Payment System</h1>
                <p [ngClass]="options.isDark ? 'colorRowMoon':'colorRowSun'">Contrary to popular belief, Lorem Ipsum is
                    not simply random text. Contrary to popular belief, Lorem
                    Ipsum is not simply random text.Contrary to popular belief, Lorem Ipsum is not simply random
                    text.Contrary to popular belief, Lorem Ipsum is not simply random text.</p>
                <button [ngClass]="options.isDark ? 'backgroundcolorGreen':'backgroundcolorGreenStrong'">More</button>
            </div>
        </div>

        <div class="payment-child col-6">
            <div [ngClass]="options.isDark ? 'style2':'style1'" style="padding-top: 5px">
                <h1 [ngClass]="options.isDark ? 'colorRowMoon':'colorRowSun'">QR Payments</h1>
                <p [ngClass]="options.isDark ? 'colorRowMoon':'colorRowSun'">Contrary to popular belief, Lorem Ipsum is
                    not simply random text. Contrary to popular belief, Lorem
                    Ipsum is not simply random text.Contrary to popular belief, Lorem Ipsum is not simply random
                    text.Contrary to popular belief, Lorem Ipsum is not simply random text.</p>
                <button [ngClass]="options.isDark ? 'backgroundcolorGreen':'backgroundcolorGreenStrong'">More</button>
            </div>
        </div>
    </div>

    
  

    <div class="home-mobile row d-md-none">
        <h1>Internet Acquiring</h1>
        <div class="home-mobile-cooperation">
            <div class="home-mobile-cooperation-info">
                <p>Lorem Ipsum is simply dummy text of the printing 
                    and typesetting industry. Lorem Ipsum has been the.</p>
            </div>
        </div>
    </div>
   

</div>
